<div class="bg-gray-900 text-white min-h-screen p-6">
  <h1 class="text-2xl font-bold mb-4">Company: <%= @company.name %></h1>

  <p class="mb-4">Owner: <%= @company.owner&.name || "No Manager Owner" %></p>

  <!-- Charts Partial -->
  <%= render partial: "shared/pdp_charts", locals: { chart_data: @chart_data } %>

  <!-- New Team Form -->
  <div class="mb-6">
    <%= render partial: "shared/teams/form", locals: { company: @company,  team: Team.new } %>
  </div>

  <!-- Teams List -->
  <table class="min-w-full border-collapse bg-gray-800 text-gray-50">
    <thead>
      <tr class="bg-gray-700 border-b border-gray-600">
        <th class="px-4 py-2 text-left">Actions</th>
        <th class="px-4 py-2 text-left">Name</th>
        <th class="px-4 py-2 text-left">Status</th>
        <th class="px-4 py-2 text-left">Manage</th>
      </tr>
    </thead>
    <tbody id="teams-container">
      <% @teams.each do |team| %>
        <%= render partial: "shared/teams/team_row", locals: { team: team } %>
      <% end %>
    </tbody>
  </table>
</div>
