<div class="bg-gray-900 text-white min-h-screen p-6">
  <h1 class="text-2xl font-bold mb-4">Recommended Items</h1>

  <div class="mb-6">
    <%= render partial: "shared/recommended_items/form", locals: { recommended_item: RecommendedItem.new } %>
  </div>

  <table class="min-w-full border-collapse bg-gray-800 text-gray-50">
    <thead>
      <tr class="bg-gray-700 border-b border-gray-600">
        <th class="px-4 py-2 text-left" rowspan="2"></th>
        <th class="px-4 py-2 text-left" rowspan="2"><%= t('items_index.name') %></th>
        <th class="px-4 py-2 text-left" rowspan="2"><%= t('items_index.description') %></th>
        <th class="px-4 py-2 text-left" rowspan="2"><%= t('items_index.link') %></th>
        <th class="px-4 py-2 text-left" rowspan="2"><%= t('items_index.expected_results') %></th>
        <th class="px-4 py-2 text-left" rowspan="2"><%= t('items_index.category') %></th>
        <th class="px-4 py-2 text-left" rowspan="2"><%= t('items_index.effort') %></th>
        <th class="px-4 py-2 text-left" rowspan="2"><%= t('items_index.actions') %></th>

      </tr>
    </thead>
    <tbody id="recommended-items-container">
      <% @recommended_items.each do |recommended_item| %>
        <%= render partial: "shared/recommended_items/recommended_item_row", locals: { recommended_item: recommended_item } %>
      <% end %>
    </tbody>
  </table>
</div>
