<h1 class="text-2xl mb-4">All Teams in <%= current_user.company.name %></h1>

<div>
  <%= link_to "Add Team", new_company_team_path, class: "bg-blue-600 text-white px-3 py-1 rounded" %>
</div>

<ul class="mt-4">
  <% @teams.each do |team| %>
    <li>
      <%= team.name %>
      (<%= link_to "Details", details_company_team_path(team) %> |
       <%= link_to "Settings", settings_company_team_path(team) %> |
       <%= link_to "Recommended", recommended_company_team_path(team) %>)
    </li>
  <% end %>
</ul>
