<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pdpcharts" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "canvasjs.stock.min" %>
  </head>

  <body class="bg-gray-900 text-white min-h-screen">
    <% if user_signed_in? %>
      <!-- Our top nav / sidebar -->
      <%= render "layouts/nav_bar" %>

      <!-- Optional breadcrumbs -->
      <%= render "layouts/breadcrumbs" %>
    <% end %>

    <main class="container mx-auto px-4 py-8">
      <%= yield %>
    </main>
  </body>
</html>
